<ActionBar title="Forum" class="action-bar" >
<NavigationButton icon="res://ic_arrow_back_white_24dp" (tap)=goBackPage()></NavigationButton>
</ActionBar>

<!--TAb View-->
<TabView selectedIndex="0" selectedColor="#1b3a4b" iosIconRenderingMode="alwaysOriginal" sdkExampleTitle sdkToggleNavButton class="tab-view">
    <StackLayout *tabItem="{title: 'Trending'}" >

      <ScrollView>

<StackLayout>
<!--COntent goes here
      <Button text="Click here" class="m-7 btn btn-outline" (tap)="goForumChat()"></Button>
      <Button text="Click here" class="m-7 btn btn-outline" (tap)="goForumChat()"></Button>
      <Button text="Click here" class="m-7 btn btn-outline" (tap)="goForumChat()"></Button>
      <Button text="Click here" class="m-7 btn btn-outline" (tap)="goForumChat()"></Button>
      <Button text="Click here" class="m-7 btn btn-outline" (tap)="goForumChat()"></Button>
      <Button text="Click here" class="m-7 btn btn-outline" (tap)="goForumChat()"></Button>
      <Button text="Click here" class="m-7 btn btn-outline" (tap)="goForumChat()"></Button>
      <Button text="Click here" class="m-7 btn btn-outline" (tap)="goForumChat()"></Button>
      <Button text="Click here" class="m-7 btn btn-outline" (tap)="goForumChat()"></Button>
      <Button text="Click here" class="m-7 btn btn-outline" (tap)="goForumChat()"></Button>
    -->




</StackLayout>

</ScrollView>

    </StackLayout>




    <StackLayout *tabItem="{title: 'All Categories'}">

      <ScrollView>

<StackLayout>
<!--COntent goes here-->
      <Button text="Click here" class="m-7 btn btn-outline" (tap)="goForumChat()"></Button>
      <Button text="Click here" class="m-7 btn btn-outline" (tap)="goForumChat()"></Button>
      <Button text="Click here" class="m-7 btn btn-outline" (tap)="goForumChat()"></Button>
      <Button text="Click here" class="m-7 btn btn-outline" (tap)="goForumChat()"></Button>
      <Button text="Click here" class="m-7 btn btn-outline" (tap)="goForumChat()"></Button>
      <Button text="Click here" class="m-7 btn btn-outline" (tap)="goForumChat()"></Button>
      <Button text="Click here" class="m-7 btn btn-outline" (tap)="goForumChat()"></Button>
      <Button text="Click here" class="m-7 btn btn-outline" (tap)="goForumChat()"></Button>
      <Button text="Click here" class="m-7 btn btn-outline" (tap)="goForumChat()"></Button>
</StackLayout>

</ScrollView>

    </StackLayout>
</TabView>
