<ActionBar [title]="courseNameReceived" class="action-bar" >
<NavigationButton icon="res://ic_arrow_back_white_24dp" (tap)="goBackPage()"></NavigationButton>
</ActionBar>

<!--Tab  View-->

<TabView selectedIndex="0" selectedColor="#1b3a4b" iosIconRenderingMode="alwaysOriginal" sdkExampleTitle sdkToggleNavButton class="tab-view">
    <StackLayout *tabItem="{title: 'Course Outline'}" >

<StackLayout>

<!--Tab Contents go here-->

<!--
<StackLayout  *ngFor="let topic of outline" orientation="horizontal" class="course">
    <Label [text] = "topic.topic" class="topic body" textWrap="true"></Label>
  </StackLayout>
-->
<ListView [items]="outline"  class="list-group">
    <ng-template let-topic="item" let-i="index" let-odd="odd" let-even="even">
        <GridLayout class="list-group-item">
            <Label [text]="topic.topic" textWrap="true" textWrap="true"></Label>
        </GridLayout>
    </ng-template>
</ListView>

</StackLayout>



    </StackLayout>
<!--First TAb ends here-->



    <StackLayout *tabItem="{title: 'Recommended Books'}">
      <ScrollView>
<StackLayout>


<ActivityIndicator row="1"  [busy]="Loading"  width="50" height="50" class="activity-indicator" [visibility]="Loading ? 'visible' : 'collapse'"></ActivityIndicator>
<CardView class="cardStyle" margin="10" elevation="30" radius="1"  backgroundColor="" *ngFor="let book of displayBooks">
<StackLayout>
  <Image [src]="book.imageLink" width="190" class="img-rounded m-10"></Image>
  <Label class="font-weight-bold p-8 label" text ='Title : ' textWrap="true" fontSize="20"  ></Label>
  <Label class="font-italic p-8 label" [text] ='book.title' textWrap="true" fontSize="18"  ></Label>
  <Label class="font-weight-bold p-8 label" text ='Author : ' textWrap="true" fontSize="20"  ></Label>
  <Label class="font-italic p-8 label" [text] ='book.author' textWrap="true" fontSize="18"  ></Label>
  <Label class="font-weight-bold p-8 label" text ='Description : ' textWrap="true" fontSize="20" ></Label>
  <Label  [text] ='book.bookDescription' class="font-weight-bold p-8 label"  textWrap="true" fontSize="18"></Label>
  <Label class="font-weight-bold p-8 label" text ='Preview Link : ' textWrap="true" fontSize="20"  ></Label>
  <Label class="font-italic p-8 label" [text] ='book.previewLink' textWrap="true" fontSize="15" (tap) ="openU(book.previewLink)" color="#2463f3"></Label>
</StackLayout>

</CardView>


</StackLayout>


</ScrollView>
    </StackLayout>
</TabView>
