<ActionBar title="Student Assistant" class="action-bar" >
 <NavigationButton icon="res://ic_menu_white_24dp" (tap)="openDrawer()"></NavigationButton>
</ActionBar>



<RadSideDrawer #drawerComponent tkToggleNavButton showOverNavigation="true">
  <ScrollView tkDrawerContent class="sidedrawer-left">
    <StackLayout horizontalAlign="left">
      <drawer-content></drawer-content>
    </StackLayout>
  </ScrollView>


  <StackLayout tkMainContent class="page">
    <ScrollView>

<GridLayout rows="*,*,*">

<GridLayout row ="0" columns="100,*" horizontalAlignment="stretch" (tap)="goCourses()">
  <Image col="0" src="res://loginimg" class="img-circle"></Image>
  <Label text="My Courses" col="1" class="text-center" textWrap="true"></Label>
</GridLayout>

<GridLayout row ="1" columns="100,*" horizontalAlignment="stretch" (tap)="goTimetableAndEvents()">
  <Image col="0" src="res://loginimg" class="img-circle"></Image>
  <Label text="My Timetable And Events" col="1" class="text-center" textWrap="true"></Label>
</GridLayout>

<GridLayout row ="2" columns="100,*" horizontalAlignment="stretch" (tap)="goForumHome()">
  <Image col="0" src="res://loginimg" class="img-circle"></Image>
  <Label text="Forum" col="1" class="text-center" textWrap="true"></Label>
</GridLayout>

</GridLayout>
</ScrollView>

</StackLayout>
</RadSideDrawer>
