<ActionBar title="Student Assistant" class="action-bar" ></ActionBar>

<RadSideDrawer #drawerComponent tkToggleNavButton showOverNavigation="true">
  <ScrollView tkDrawerContent class="sidedrawer-left">
    <StackLayout horizontalAlign="left">
      <drawer-content></drawer-content>
    </StackLayout>
  </ScrollView>

  <StackLayout tkMainContent class="page">
<label class="h1" text="it worked"></label>
<label class="h1" text="it worked"></label>
<label class="h1" text="it worked"></label>
<label class="h1" text="it worked"></label>
<label class="h1" text="it worked"></label>
<label class="h1" text="it worked"></label>
<label class="h1" text="it worked"></label>
<label class="h1" text="it worked"></label>
</StackLayout>
</RadSideDrawer>
