/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
/*platform specific css*/
@import url("~/platform.css");

/*For Action Bar*/
@import '~nativescript-theme-core/css/blue.css';
/*styling for all pages*/
Page {
  background-color: white;
  font-size: 15;
}

/*styling for all text fields*/
TextField {
  padding: 10;
  font-size: 13;
}
.sidedrawer-left {
    background-color:  #d8f8f3;
}

.sidedrawer-left .sidedrawer-header {
    background-color: #3d5afe;
}
.sidedrawer-header {
    background-color: #3d5afe;
}

.sidedrawer-left .sidedrawer-header .sidedrawer-header-image {
    background-color: #3d5afe;
    margin: 10;
}

.sidedrawer-left .sidedrawer-header .sidedrawer-header-brand {
    color: #ffffff;
    font-size: 30;
}

.sidedrawer-left .sidedrawer-content .sidedrawer-list-item {
    color: black;
}

.sidedrawer-left .sidedrawer-content .sidedrawer-list-item .sidedrawer-list-item-text {
    font-size: 20;
    color: black;
    border-width: 0;
}


.fa{
  font-family: FontAwesome, fontawesome-webfont;
}
