.profilePic{
  background-color:  #e4f5f3 ;
}

.courseDetails{
  margin-left: 30;
  margin-top: 23;
}

Image{
  margin-top: 10;
}

.Username{
  padding: 10;
}

.programme{
  background-color:  #8df7ab;
}

.year{
  background-color:  #79fad1;
}

.semester{
  background-color: #d7fba6;
}
