/**/
/*
StackLayout {
  margin-left: 30;
  margin-right: 30;
  padding-bottom: 15;
  padding-top: 15;
  background-color:#c0cae5;

  margin-top:80;
  margin-bottom:80;
}
Image {
  margin-top: 5;
  margin-bottom: 20;
}
Button, TextField {
  margin-left: 16;
  margin-right: 16;
  margin-bottom: 10;
}
.submit-button {
  background-color: #CB1D00;
  color: white;
  margin-top: 20;
}
*/

/*Trying out with percentages*/
/*Percentages seem to be working fine*/
/*ScrollView is ver complicated...I had to style the containers one by none
Keeping this look for now*/
ScrollView {
  margin-left: 5%;
  margin-right: 5%;
  background-color:#c0cae5;
  margin-top:12%;
  margin-bottom:12%;
}

.scroll-cont{
  margin-left: 5%;
  margin-right: 5%;
  margin-top:5%;
  margin-bottom:8%;
}


.submit-button {
  background-color: #CB1D00;
  color: white;

}

.fa{
  color:white;
  background-color: #dd4b39;
}
