<ActionBar title="Student Assistant" class="action-bar" ></ActionBar>

<!--Trying to add ScrollView-->

<ScrollView #container>
<StackLayout class="scroll-cont">
<StackLayout>


  <Image src="res://loginimg" stretch="none" horizontalAlignment="center"></Image>

<TextField hint="Email Address" keyboardType="email"
     autocorrect="false" autocapitalizationType="none" [(ngModel)]="email"  [visibility]="isProcessing ? 'collapse' : 'visible'"></TextField>
   <TextField hint="Password" secure="true" [(ngModel)]="password"  [visibility]="isProcessing ? 'collapse' : 'visible'"></TextField>
    <TextField *ngIf="!isLoggingIn" hint="Confirm Password" secure="true"  [(ngModel)]="confirmPassword"  [visibility]="isProcessing ? 'collapse' : 'visible'"></TextField>

<ActivityIndicator  busy="true"  class="activity-indicator"  width="100" height="100" [visibility]="isProcessing ? 'visible' : 'collapse'" ></ActivityIndicator>

   <Button [text]="isLoggingIn ? 'SIGN IN' : 'SIGN UP'" class="submit-button" (tap) = "submit()" [visibility]="isProcessing ? 'collapse' : 'visible'"></Button>
   <Label text="--OR--"  class="text-center" [visibility]="isProcessing ? 'collapse' : 'visible'"></Label>
   <Button text="&#xf1a0; Sign in with Google" (tap)="googleLogin()" class="fa" [visibility]="isProcessing ? 'collapse' : 'visible'"></Button>
   <!--
   <Button [text]="isLoggingIn ? 'SIGN UP' : 'BACK TO LOGIN'" (tap)="toggleDisplay()"></Button>
 -->

 <Label [text]="isLoggingIn ? 'Create an account' : 'Back to login'" (tap)="toggleDisplay()" class="labels text-center font-italic" [visibility]="isProcessing ? 'collapse' : 'visible'"> </Label>
 <Label text="--+--" class="text-center"></Label>
 <Label text="forgot password ?" class="labels text-center font-italic" (tap)="logOut()" [visibility]="isProcessing ? 'collapse' : 'visible'"></Label>



</StackLayout>
</StackLayout>

</ScrollView>
