<ActionBar title="Student Assistant" class="action-bar" ></ActionBar>

<!--Trying to add ScrollView-->

<ScrollView #container>
<StackLayout class="scroll-cont">
<StackLayout>


  <Image src="res://loginimg" stretch="none" horizontalAlignment="center"></Image>

<TextField hint="Email Address" keyboardType="email"
     autocorrect="false" autocapitalizationType="none" [(ngModel)]="email"></TextField>
   <TextField hint="Password" secure="true" [(ngModel)]="password"></TextField>
    <TextField *ngIf="!isLoggingIn" hint="Confirm Password" secure="true"  [(ngModel)]="confirmPassword"></TextField>

   <Button [text]="isLoggingIn ? 'SIGN IN' : 'SIGN UP'" class="submit-button" (tap) = "submit()"></Button>
   <Button text="&#xf1a0; Sign in with Google" (tap)="googleLogin()" class="fa"></Button>
   <!--
   <Button [text]="isLoggingIn ? 'SIGN UP' : 'BACK TO LOGIN'" (tap)="toggleDisplay()"></Button>
 -->

 <Label [text]="isLoggingIn ? 'Create an account' : 'Back to login'" (tap)="toggleDisplay()" class="labels text-center font-italic"> </Label>
 <Label text="forgot password ?" class="labels text-center font-italic" (tap)="logOut()" ></Label>



</StackLayout>
</StackLayout>

</ScrollView>
