<ActionBar title="College Events" class="action-bar" >
<NavigationButton icon="res://ic_arrow_back_white_24dp" (tap)="goBackPage()"></NavigationButton>
</ActionBar>


<ScrollView>
<StackLayout>

    <Label text="No upcoming events" class="text-center h1"></Label>
    <Label text="No Tasks To Keep Track Of" class="text-center h1"></Label>
    <Label text="No Tasks To Keep Track Of" class="text-center h1"></Label>
    <Label text="No Tasks To Keep Track Of" class="text-center h1"></Label>
    <Label text="No Tasks To Keep Track Of" class="text-center h1"></Label>
    <Label text="No Tasks To Keep Track Of" class="text-center h1"></Label>
    <Label text="No Tasks To Keep Track Of" class="text-center h1"></Label>
    <Label text="No Tasks To Keep Track Of" class="text-center h1"></Label>
    <Label text="No Tasks To Keep Track Of" class="text-center h1"></Label>
    <Label text="No Tasks To Keep Track Of" class="text-center h1"></Label>
    <Label text="No Tasks To Keep Track Of" class="text-center h1"></Label>
    <Label text="No Tasks To Keep Track Of" class="text-center h1"></Label>
    <Label text="No Tasks To Keep Track Of" class="text-center h1"></Label>
    <Label text="No Tasks To Keep Track Of" class="text-center h1"></Label>
    <Label text="No Tasks To Keep Track Of" class="text-center h1"></Label>
    <Label text="No Tasks To Keep Track Of" class="text-center h1"></Label>
    <Label text="No Tasks To Keep Track Of" class="text-center h1"></Label>
    <Label text="No Tasks To Keep Track Of" class="text-center h1"></Label>
    <Label text="No Tasks To Keep Track Of" class="text-center h1"></Label>
    <Label text="No Tasks To Keep Track Of" class="text-center h1"></Label>
    <Label text="No Tasks To Keep Track Of" class="text-center h1"></Label>
    <Label text="No Tasks To Keep Track Of" class="text-center h1"></Label>
    <Label text="No Tasks To Keep Track Of" class="text-center h1"></Label>
    <Label text="No Tasks To Keep Track Of" class="text-center h1"></Label>
    <Label text="No Tasks To Keep Track Of" class="text-center h1"></Label>
    <Label text="No Tasks To Keep Track Of" class="text-center h1"></Label>


</StackLayout>
</ScrollView>
