<ActionBar title="College Events" class="action-bar" >
<NavigationButton icon="res://ic_arrow_back_white_24dp" (tap)="goBackPage()"></NavigationButton>
</ActionBar>


<ScrollView>
<StackLayout>

<!--
  <StackLayout  *ngFor="let event of events" orientation="horizontal" >

      <Label [text] = "event.eventAbout" textWrap="true"></Label>
      trying to pass the course
    </StackLayout>
    -->

    <CardView class="cardStyle" margin="10" elevation="40" radius="1" *ngFor="let event of events" backgroundColor="#80CBC4">
      <GridLayout rows="*, *, *,*" columns = "30,*,30,*" >

          <Label class="text-center font-weight-bold" [text]="event.eventName | uppercase" colSpan="4" row="0"  textWrap="true" col="0" fontSize="20"></Label>
          <Label class="font-italic" [text]="event.eventAbout" colSpan="4" row="1" textWrap="true" col="0" fontSize="17"></Label>
          <Label row="2" col="0" class="fa " text="&#xf133;" fontSize="14"></Label>
          <Label class="text-left " [text]="event.eventDate"  row="2" textWrap="true" col="1" fontSize="14"></Label>
          <Label row="2" col="2" class="fa" text="&#xf017;" fontSize="14" ></Label>
          <Label class="text-left " [text]="event.eventTime"  row="2" textWrap="true" col="3" fontSize="14"></Label>
          <Label row="3" col="0" class="fa " text="&#xf041;" fontSize="16"></Label>
          <Label class="text-left" [text]="event.eventVenue" colSpan="3" row="3" textWrap="true"col="1" fontSize="16" ></Label>
      </GridLayout>
  </CardView>


</StackLayout>
</ScrollView>
