<ActionBar title="College Events" class="action-bar" >
<NavigationButton icon="res://ic_arrow_back_white_24dp" (tap)="goBackPage()"></NavigationButton>
</ActionBar>


<ScrollView>
<StackLayout>

<!--
  <StackLayout  *ngFor="let event of events" orientation="horizontal" >

      <Label [text] = "event.eventAbout" textWrap="true"></Label>
      trying to pass the course
    </StackLayout>
    -->

    <CardView class="innerCardStyle">
           <StackLayout>
             <Label class="header" text="Welcome!"></Label>
             <Label textWrap="true" text="Practice Buddy helps students become better musicians, and music teachers mentor their students."></Label>
           </StackLayout>
       </CardView>


</StackLayout>
</ScrollView>
